<h1><%= @card['name'] %></h1>
    <ul>

      <li> Name: <%= @card['name'] %> </li>

      <li> Cost: <%= @card['cost'] %> </li>

      <li> Type: <%= @card['cardType'] %> </li>

      <li> Rarity: <%= @card['rarity'] %> </li>

      <li> Faction: <%= @card['faction'] %> </li>

      <li> Race: <%= @card['race'] %> </li>

      <li> playerclass: <%= @card['playerclass'] %> </li>

      <li> Text: <%= @card['text'] %> </li>

      <li> In play text: <%= @card['inPlayText'] %> </li>

      <li> Mechanics: <%= @card['mechanics'] %> </li>

      <li> Flavor: <%= @card['flavor'] %> </li>

      <li> Artist: <%= @card['artist'] %> </li>

      <li> Attack: <%= @card['attack'] %> </li>

      <li> Health: <%= @card['health'] %> </li>

      <li> Durability: <%= @card['durability'] %> </li>

      <li> BlizzardID: <%= @card['blizzid'] %> </li>

      <li> Collectable: <%= @card['collectible'] %> </li>


    </ul>
