<h1>All your decks</h1>

<%= render partial: 'navigation'%>

<ul>

  <% @user.decks.each do |deck|%>
    <li>
      <a href="/decks/<%= deck.id%>"><%= deck.name %></a>

    </li>
  <% end %>

</ul>



<%= form_for @deck do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.select :class_name, ["Warrior", "Shaman", "Rogue", "Paladin", "Hunter", "Druid" ,"Warlock", "Mage", "Priest"] %>
  <%= f.submit %>
<% end %>
